body {
    margin: 100px;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #342f2f;
}

.container {
    text-align: center;
}

.board {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #b14949;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #ed5151;
}

.status {
    margin-bottom: 20px;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}


.x-mark {
    color: #fdf3f1; /* Change X color to orange */
}

.o-mark {
    color: #d5d9dd; /* Change O color to blue */
}
h1{
    text-align: center;
    color:white ;
    padding:20px;
}
